{% extends 'bartender/index.html' %}


{% block head %}
{% endblock head %}

{% block page %}

<hr>

<div class='container'>
    <h2
        style='font-size:2.5rem;padding:50px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
        BRIF Token </h2>
    <p
        style='font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;text-transform:capitalize; text-align:center;padding:20px;color:midnightblue;font-size: 1.4rem;font-weight:bolder;'>
        BRIF is the native token of the Bridge Finance network, and it has the following utilities.
        <!-- {% lorem 2 p %} -->
    </p>

</div>

<!-- New content  -->

<div class='row mx-auto p-2'>
    <div class='col-12 col-lg-6 col-md-6 mx-auto'>
        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            Stake and Earn </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'> Stake
            BRIF and earn more BRIF, stake other tokens into pools and earn BRIF and other tokens as
            rewards. </P>
    </div>

    <div class='col-12 col-lg-6 col-md-6 mx-auto'>

        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            Rewards and Incentives </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'>
            BRIF will be used to reward community for participating in contests, AMA sessions and
            other organized activities. </P>

    </div>

    <div class='col-12 col-lg-6 col-md-6 mx-auto'>
        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            Payment of fees </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'> BRIF
            will be used as a means of payment on our platforms and partners' platforms </P>
    </div>

    <div class='col-12 col-lg-6 col-md-6 mx-auto'>
        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            Referral rewards </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'> BRIF will
            be used to reward those who bring new users to any of our platforms. </P>
    </div>

    <div class='col-12 col-lg-6 col-md-6 mx-auto'>
        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            BRIF Token </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'> BRIF
            token
            is the native token of the Bridge Finance network </P>
    </div>

    <div class='col-12 col-lg-6 col-md-6 mx-auto'>
        <h2
            style='font-size:1.25rem;padding:30px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
            BRIF Token </h2>
        <P style='text-align:center;font-size:1rem;color:midnightblue;font-weight:normal'> BRIF
            token
            is the native token of the Bridge Finance network </P>
    </div>



</div>


<!-- Token info  -->

<div style='' class='row mx-auto p-5'>

    <div class='col-12 mx-auto w3-center'>

        <h2 style='text-align:center;padding:10px;font-size: 1.85rem;color:gold;font-weight:bolder'>
            Token Info
        </h2>

        <table
            style='max-width:900px;margin:auto;color:midnightblue;font-weight:bold;font-family:cursive;'
            class='w3-table-all w3-centered w3-center w3-large'>
            <!-- <tr>
            <th>
                Info
            </th>
            <th>
                Value
            </th>
        </tr>

        <tr> -->
            <td>
                Token name
            </td>
            <td>
                BridgeFi Token
            </td>
            </tr>
            <tr>
                <td>
                    Token Ticker
                </td>
                <td>
                    BRIF
                </td>
            </tr>
            <tr>
                <td>
                    Token Decimal
                </td>
                <td>
                    18
                </td>
            </tr>
            <tr>
                <td>
                    Blockchain
                </td>
                <td>
                    BEP20 Bsc
                </td>
            </tr>
            <tr>
                <td>
                    Total Supply
                </td>
                <td>
                    800,000,000
                </td>
            </tr>
        </table>


    </div>
</div>

<br>
<br>






<!-- Token Info  -->







<!-- new content  -->

<h2
    style='font-size:2.5rem;padding:50px 0 20px 0;color:gold;text-align: center;text-transform: capitalize;font-family: cursive;'>
    Token Metrics </h2>

<div class="row mx-auto align p-5">
    <div style=' border:1px solid transparent;border-radius:12px;'
        class='col-12 col-lg-4 col-md-6 mx-auto '>

        <h2
            style='width:85%;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;border-radius:40px;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Token Private Sale </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            10% </p>




    </div>
    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Token Public Sale </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            10% </p>

    </div>
    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Dex Liquidity </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            10% </p>

    </div>
    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Development and Marketing </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            10% </p>
    </div>

    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Rewards and Airdrops</h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            20% </p>
    </div>

    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            BridgeFi Hub Reserve</h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            20% </p>
    </div>

    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Partnerships </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            7% </p>
    </div>

    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Advisors</h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            5% </p>
    </div>

    <div style='border:1px solid transparent;border-radius:12px;' class='col-12 col-lg-4 col-md-6'>
        <h2
            style='width:85%;border-radius:40px;margin:auto;box-shadow:15px 15px 15px rgba(0,0,0,0.4);background-color:midnightblue;text-align:center;padding:20px;color:gold;font-size: 1.4rem;'>
            Team </h2>
        <p style='text-align:center;padding:20px;color:gold;font-size: 2rem;font-weight:bolder;'>
            8% </p>
    </div>
</div>

<!--
<div class = 'row mx-auto'>
    <div class = 'col-12 mx-auto'>
        <img style = 'display:block;margin:auto;height:400px;' src = 'img/blog-img/bridge.jpg'>
    </div>
</div> -->


{% endblock page %}
